__pycache__
bin
data
etc
lib
log_files
pretrained_models
test_1k_msrvtt
TrainValVideo
arch.jpg
pos16.pt
share
output
zshot_clip_0.1.log
log_files_1
unique_indices_t2va.pkl
log_files_2
top5_indices_t2va.pkl
vivit_model1.py
work.log
train_vivit_msr_vtt.py
train_no_transformer.sh
all_weights_1.log
test_1.log
msr_vtt_frames.py
eval.sh